body{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.address{
  padding: 10px 24px;
  background: orange;
  color: black;
}
.addressTo{
  padding: 10px 24px;
  background: orange;
  color: black;
}

.Container{
  margin-top: 300px;
}
.First__Button{
  padding: 10px 24px;
  background: orange;
  color: black;
}

.Second__Button{
  padding: 10px 24px;
  background: orange;
  color: black;
}
.Third__Button{
  padding: 10px 24px;
  background: orange;
  color: black;
}
.Main{
  margin-left: 25px;
}
